.reasons__paw {
    background-image: url(../../../images/paw1.png);
    width: 367px;
    height: 314px;
    transform: matrix(-0.93, -0.36, -0.36, 0.93, 0, 0);
    background-repeat: no-repeat;
    position: absolute;
    right: -107px;
}