.location {
    background: #FAC663;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1260px) {
 .location { 
flex-direction: column; 
align-items: center;
text-align: center;
};
}
