.banner__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 32px;
}

@media (max-width: 900px) {
    .banner__subtitle {
max-width: 300px;
    }
}