.item__list {
    display: flex;
    flex-direction: column;
    gap: 14.5px;
    margin: 23px 0 24px;
}

.item__list li::before {
    content: '';
       display: inline-block;
       width: 13px;
       height: 13px;
       -moz-border-radius: 6.5px;
       -webkit-border-radius: 6.5px;
       border-radius: 6.5px;
       background-color: #FAC663;
       margin-right: 8px;
}