.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
   background: #FAC663 !important; 
}

.owl-theme .owl-dots .owl-dot span {
   background: #E1E1E1 !important; 
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    width: 36px;
    height: 36px;
}

.owl-theme .owl-nav {
    position: absolute;
    right: 175px;
    bottom: -22px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
}

.rooms-next, .rooms-prev {
    width: 60px;
    height: 60px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 6px;
}
